body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* nav start */
#nav {
  width: 30%;
  height: 100%;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #31c8fd;
  color: #fff;
  z-index: 1000;
}

#nav-user {
  font-size: 40px;
}

#nav-list {
  margin-top: 50px;
  vertical-align: bottom;
}

.nav-item {
  cursor: pointer;
  margin-bottom: 20px;
  border-bottom: 1px solid #31c8fd;
  transition: border-bottom 0.3s;
}
.nav-item:hover .nav-item-text {
  opacity: 0.8;
}

.nav-item-current {
  border-bottom: 1px solid #fff;
}

.nav-item-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: cover;
}
.nav-item-icon-devices {
  background-image: url(../img/devices_white.png);
}
.nav-item-icon-received {
  background-image: url(../img/download_white.png);
}
.nav-item-icon-sent {
  background-image: url(../img/upload_white.png);
}

.nav-item-text {
  width: calc(100% - 50px);
  height: 50px;
  display: inline-block;
  text-align: right;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}
/* nav end */

/* main start */
#main {
  width: 70%;
  height: 100%;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background: #ddd;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  overflow: auto;
  display: none;
}
.section-current {
  display: block;
}
.section-popBig {
  -webkit-animation: popBig 0.5s;
}
.section-popSmall {
  -webkit-animation: popSmall 0.5s;
}
.section-shrinkBig {
  -webkit-animation: shrinkBig 0.5s;
}
.section-shrinkSmall {
  -webkit-animation: shrinkSmall 0.5s;
}

#section-devices {
  z-index: 30;
}
#section-received {
  z-index: 20;
}
#section-sent {
  z-index: 10;
}

@-webkit-keyframes popBig {
  from {-webkit-transform: scale(1); opacity: 1;}
  to {-webkit-transform: scale(1.5); opacity: 0;}
}
@-webkit-keyframes popSmall {
  from {-webkit-transform: scale(0.5); opacity: 0;}
  to {-webkit-transform: scale(1); opacity: 1;}
}
@-webkit-keyframes shrinkBig {
  from {-webkit-transform: scale(1.5); opacity: 0;}
  to {-webkit-transform: scale(1); opacity: 1;}
}
@-webkit-keyframes shrinkSmall {
  from {-webkit-transform: scale(1); opacity: 1;}
  to {-webkit-transform: scale(0.5); opacity: 0;}
}

.device-item {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.device-icon {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  float: left;
}

.device-name {
  width: 30%;
  font-size: 25px;
  display: inline-block;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
}
.device-ip {
  width: 50%;
  display: inline-block;
  color: #999;
  overflow: hidden;
}
/* device end */

/* gadgets start */
#progress {
  width: 250px;
  height: 150px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30%;
  margin: auto;
  background: #31c8fd;
  border-radius: 10px;
  color: #fff;
  opacity: 0;
  z-index: -1;
}
#progress img {
  width: 60px;
  padding: 10px;
  display: block;
  margin: 0 auto 25px auto;
  background: #fff;
  border-radius: 50%;
}
#progress h3 {
  text-align: center;
  word-break: break-all;
}